<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ssumobile.ssumobile_android" >


    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon= "@drawable/filtered_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >

    <activity
            android:name=".activity.StartScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CalendarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.NewsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.newsSingleStoryActivity"
            android:label="@string/app_name" >
        </activity>
	    <activity
            android:name=".activity.CalendarSingleDate"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.calendarSingleEvent"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.FacultyStaffActivity"
            android:label="@string/Faculty_Staff_Directory"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.DepartmentsActivity"
            android:label="@string/Departments_Directory"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.SchoolsActivity"
            android:label="@string/Schools_Directory"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.BuildingsActivity"
            android:label="@string/Buildings_Directory"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.FacStaffModelActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.DepartmentModelActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.BuildingModelActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.SchoolModelActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
